{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}
<div class="body_assess heading border border-primary">
        <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group low-margin">
                        <legend class="border-bottom mb-4">Login</legend>
                        {{ form |crispy }}
                </fieldset>
                <div class="form-group low-margin">
                        <button class="btn btn-outline-info" type="submit">Login</button>
                        {% comment %}
                        <small class="text-muted ml-2">
                                <a href="{% url 'password_reset' %}">Forgot Password?</a>
                        </small>
                        {% endcomment %}
                </div>
                {% comment %}
                <div class="border-top pt-3 low-margin">
                        <small class="text-muted"> Need an account?<a class="ml-2" href="{% url 'user-register' %}">Register Here</a> </small>
                </div>
                {% endcomment %}
        </form>
</div>
{% endblock %}
