{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}

<h2>Peer Paper Grading</h2>
<div class="card">
        <h2 class="text-success p-3">Question PDF:</h2>
        <iframe src="{{pdf.url}}" style="width: 100%; height: 500px"></iframe>
</div>
<br /><br />

{% for sub,id,desc in ques%}
<div class="card">
        <div class="">
                <h2 class="text-success p-3">Question number {{forloop.counter}} :</h2>
                <iframe src="{{sub.url}}" style="width: 100%; height: 500px"></iframe>
        </div>
        <div id="{{id}}" class="card-body">space for marks ques_ids {{id}}</div>
        <div class="card card-body">{{desc}}</div>
</div>
<br /><br />
{%endfor%}
<div>
        <button type="submit" id="submit_marks" class="btn btn-primary">submit marks</button>
</div>

<div>
        <form
                method="POST"
                action="/dashboard/courses/{{course_id}}/assignments/{{assign_id}}/grade-peer/{{paper_id}}"
                style="opacity: 0"
                enctype="multipart/form-data"
        >
                {% csrf_token %}
                <fieldset class="form-group low-margin">{{ form}}</fieldset>
                <div class="form-group low-margin">
                        <button class="btn btn-outline-info" type="submit" id="push_button">Submit</button>
                </div>
        </form>
</div>

<script type="text/javascript">
        const req = new XMLHttpRequest();
        req.open("GET", "/dashboard/courses/{{course_id}}/privilege");
        req.onload = () => {
                const res = JSON.parse(req.responseText);
                console.log("res", res);
                if (res["privilege"] == "student") {
                        const request = new XMLHttpRequest();
                        request.open("GET", "/dashboard/courses/{{course_id}}/assignments/{{assign_id}}/grade-peer/{{paper_id}}");
                        console.log("timepass");
                        var outline_data;
                        request.onload = () => {
                                console.log("here also");
                                const data = JSON.parse(request.responseText);
                                outline_data = data;
                                console.log("messgae loading");
                                console.log(data);
                                for (let paper in data) {
                                        console.log(paper);
                                        ques = data[paper];
                                        let str = ques["qid"].toString();
                                        console.log("str", str);
                                        if (ques["sub_questions"].length == 0) {
                                                document.getElementById(str).innerHTML =
                                                        " Marks [" + ques["min_marks"].toString() + "," + ques["max_marks"].toString() + "] :";
                                                input = document.createElement("input");
                                                input.type = "number";
                                                input.min = ques["min_marks"];
                                                input.max = ques["max_marks"];
                                                input.step = 0.1;
                                                input.id = "ip_" + str;
                                                document.getElementById(str).appendChild(input);
                                        } else {
                                                document.getElementById(str).innerHTML = "Marks : ";
                                                for (let subques in ques["sub_questions"]) {
                                                        sq = ques["sub_questions"][subques];
                                                        let div = document.createElement("div");
                                                        div.innerHTML =
                                                                "SubQuestions " +
                                                                (subques + 1).toString() +
                                                                " Marks [" +
                                                                sq["min_marks"].toString() +
                                                                "," +
                                                                sq["max_marks"].toString() +
                                                                "] :";
                                                        input = document.createElement("input");
                                                        input.type = "number";
                                                        input.min = ques["min_marks"];
                                                        input.max = ques["max_marks"];
                                                        input.step = 0.1;
                                                        input.id = "ip_sub_" + sq["sqid"].toString();
                                                        div.appendChild(input);
                                                }
                                        }
                                }
                        };
                        request.send();

                        document.getElementById("submit_marks").onclick = function () {
                                let ret = outline_data;
                                for (let i = 0; i < outline_data.length; i++) {
                                        ques = outline_data[i];
                                        if (ques["sub_questions"].length > 0) {
                                                for (let idx = 0; idx < ques["sub_questions"].length; idx++) {
                                                        sq = ques["sub_questions"][idx];
                                                        let str = "ip_sub_" + sq["sqid"].toString();
                                                        let rub_sel = parseInt(document.getElementById(str).value).toFixed(1);
                                                        console.log(rub_sel);
                                                        let arr = [];
                                                        for (let index = 0; index < ret[i]["sub_questions"][idx]["sub_rubrics"].length; index++) {
                                                                if (
                                                                        ret[i]["sub_questions"][idx]["sub_rubrics"][index]["marks"].toString() ==
                                                                        rub_sel.toString()
                                                                ) {
                                                                        arr.push(ret[i]["sub_questions"][idx]["sub_rubrics"][index]);
                                                                }
                                                        }
                                                        console.log("arr", arr);
                                                        ret[i]["sub_questions"][idx]["sub_rubrics"] = arr;
                                                }
                                        } else {
                                                let str = "ip_" + ques["qid"].toString();
                                                let rub_sel = parseInt(document.getElementById(str).value).toFixed(1);

                                                console.log(rub_sel);
                                                let arr = [];
                                                for (let idx = 0; idx < ret[i]["rubrics"].length; idx++) {
                                                        if (ret[i]["rubrics"][idx]["marks"].toString() == rub_sel.toString()) {
                                                                arr.push(ret[i]["rubrics"][idx]);
                                                        }
                                                }
                                                console.log("arr", arr);
                                                ret[i]["rubrics"] = arr;
                                        }
                                }
                                console.log("ret", ret);
                                ret = JSON.stringify(ret);
                                document.getElementById("id_question_feild").value = ret;
                                document.getElementById("push_button").click();
                        };
                }
        };
        req.send();
</script>

{% endblock content %}
