{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}

<h2>Marks of students</h2>

<div class="card" id="marks"></div>
<br /><br />

<script type="text/javascript">
        const req = new XMLHttpRequest();
        req.open("GET", "/dashboard/courses/{{course_id}}/assignments/{{assign_id}}/st-marks");
        req.onload = function () {
                const data = JSON.parse(req.responseText);
                console.log("data", data);

                marks_div = document.getElementById("marks");

                ques_list = data["marks"];
                let ul = document.createElement("ul");
                ul.classList.add("list-group");
                ul.classList.add("bg-light");
                ul.classList.add("p-5");

                marks_div.appendChild(ul);

                for (q in ques_list) {
                        ques = ques_list[q];
                        let li = document.createElement("li");
                        li.classList.add("list-group-item");
                        li.innerHTML =
                                "Question " +
                                (parseInt(q) + 1).toString() +
                                " : " +
                                ques["title"].toString() +
                                "     ,Marks : " +
                                ques["marks"].toString() +
                                "     ,Bonus : " +
                                ques["bonus"].toString() +
                                "     ,Total Marks : " +
                                ques["total_marks"].toString();

                        ul.appendChild(li);
                }
        };
        req.send();
</script>
{% endblock content %}
